# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
config.json
swaplogs/*.log
assets/osx/komodo-cli
assets/osx/komodod
assets/osx/subatomic
DEX.log
DEX_7776
shurli.log
shurli
shurli.pid
dist/
SHURLI0_7776

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# Directory created by WebStorm
.idea/
wallet.json
